
header {
display: grid;
grid-template-columns: 1fr 1fr;
}

header .header-icons-container {
   
   flex-direction: column;

}

.icons {
   display: grid;
   grid-template-rows: repeat(5, 1fr);
}






